@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* --------------BACKGOUND------------- */
    --fundo-principal: hsl(0, 0%, 100%);
    --fundo-input: hsl(270, 3%, 87%);

    /* --------------TEXT------------- */
    --texto-input: hsl(279, 6%, 55%);
    --texto-principal: hsl(278, 68%, 11%);

    /* --------------EFECT------------- */
    --borda-input-at: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --erro-inout: hsl(0, 100%, 66%);

    /* --------------FONT------------- */
    --font-princial: "Space Grotesk", sans-serif ;
    --font-dados: "Roboto", sans-serif;
}